.btntheme1 {
  width: 100%;
  height: 50px;
  background-color: #C11111!important;
  border-radius: 10px;
  color: #FAF0D1;
  font-size: 18px;
  font-family: var(--font-inter);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}

.btntheme1:hover {
  background-color: #f73434!important;
}

.location_btn {
  background-color: transparent !important;
  border: 1px solid #C11111 !important;
  color: #000;
}

.location_btn:hover {
  background-color: #C11111!important;
  color: #FFF;
}
